# Django + REST Framework
Django==5.2.3
djangorestframework==3.16.0
django-cors-headers==4.7.0
django_celery_results==2.6.0

# Celery + Redis
celery==5.5.3
redis==6.2.0
billiard==4.2.1
kombu==5.5.4
amqp==5.3.1

# Twilio
twilio==9.6.3

# Gunicorn (for production WSGI server)
gunicorn==23.0.0

# Env management
python-decouple==3.8
python-dotenv==1.0.1

